@import "tailwindcss";

@theme {
    --color-bg: #333339;
}

body {
    @apply m-0 p-0;
}

#app {
    @apply w-screen min-h-screen bg-bg flex flex-col items-center justify-center text-white;
    padding: 10px;
}
.app-header {
    font-family: "Abril Fatface", serif;
    @apply fixed top-2 p-2 pt-1 pb-1 w-full bg-bg border-[#fff] border-2;
    font-size: clamp(35px, 5vw, 300px);
}

.editor {
    @apply bg-black w-70 h-50 resize-none border-2 border-[#333] outline-none rounded-2xl p-4;

    transition: all 0.5s linear;
}

.editor:hover {
    @apply w-72 h-52 border-[#666];
}
